$primary-color: #fff;
$second-color: #000;
$hover-color: #0056b3;
$gray-color: #222;
$yellow-color: #fff000;
$orange-color: #da1b1b;
$like-black: #222;
$like-gray: #999999;
$select-color: #444;
$btn-color: #006699;
$gray555: #555;
$border-gray: #d3d0d0;
$subtotal-color: #fc8459;
$slash-color: #6c757d;
$wish-color: #343a40;

.over-hidden {
  overflow: hidden;
}
.clear-both {
  clear: both;
}
.over-scroll {
  overflow: scroll;
}
.over-x-hidden {
  overflow-x: hidden;
}
.over-x-scroll {
  overflow-y: scroll;
}

.color-1{
  background: #2349d5;
  border: 1px solid #2349d5 !important;
}
.color-2{
  background: #004a80;
  border: 1px solid #004a80 !important;
}
.color-3{
  background: #363636;
  border: 1px solid #363636 !important;
}
.color-4{
  background: #d4d4d4;
  border: 1px solid #d4d4d4 !important;
}
.color-5{
  background: #1cbbb4;
  border: 1px solid #1cbbb4 !important;
}
.color-6{
  background: #fbaf5d;
  border: 1px solid #fbaf5d !important;
}
.color-7{
  background: #f06eaa;
    border: 1px solid #f06eaa !important;
}
.color-8{
  background: #c69c6d;
  border: 1px solid #c69c6d !important;
}
